* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: rgb(153, 76, 76);
    background-color: #a7b5c5;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    border: 3px solid rgb(167, 36, 36);  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-around;
  }